<section class="thirteen columns">
    <h1>Certifications</h1>
    <article>
        <header>
            <h1>MCP, MCDST</h1>
            <span>PC ProSchools</span>
            <span><address>Grand Rapids, MI</address><time>2006 - 2007</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>CompTIA A+</h1>
            <span>Self Study</span>
            <span><address>Grand Rapids, MI</address><time>2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>NIA</h1>
            <span>Great Lakes Computing</span>
            <span><address>Grand Rapids, MI</address><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>ITIL Foundation</h1>
            <span>New Horizions</span>
            <span><address>Grand Rapids, MI</address><time>2015</time></span>
        </header>
    </article>
</section>
