<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Desktop Engineer</h1>
            <span><address>Hope Network - Grand Rapids, MI</address><time>2013 to Present</time></span>
        </header>
        <p>Workstation Application Deployment and Imaging with Microsoft System Center Configruation Manager (SCCM).  
            System and Network Automation with Windows PowerShell. </p>
    </article>
    <article>
        <header>
            <h1>Service Desk Technition</h1>
            <span><address>Hope Network - Grand Rapids, MI</address><time>2012 to 2013</time></span>
        </header>
        <p>Standard end user support, password resets, printer installs, new hardware replacement.  
            Troubleticket work from start to finish. </p>
    </article>
    <article>
        <header>
            <h1>System Administrator</h1>
            <span><address>Automation Machine System - Jenison, MI</address><time>2009 to 2013</time></span>
        </header>
        <p>Sole responsable party for all systems, workstations to Domain Controllers and Mail Servers.
            General software tester for <a href="http://www.palmateerp.com/">PalMate ERP</a>.
        </p>
    </article>
</section>
