<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Grand Rapids PowerShell User Group (GRPosh)</h1>
            <span><address>Grand Rapids, MI</address></span>
        </header>
        <p>
            <a href="http://groupspaces.com/GRPosh">http://groupspaces.com/GRPosh</a>
        </p>
    </article>
    <article>
        <header>
            <h1>North America PowerShell Summit</h1>
            <span><address>Bellevue, WA</address></span>
        </header>
        <p>
            <a href="https://eventmgr.azurewebsites.net/event/home/PSNA16">https://eventmgr.azurewebsites.net/event/home/PSNA16</a>
        </p>
    </article>
</section>